<app-title [title]="'Eventos'"></app-title>

<div class="form-inline">
  <div class="form-group mb-2">
    <label for="filter" class="mr-2">Filtro: </label>
    <input
      id="filter"
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="eventsFilter"
    >
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          (click)="showImg = !showImg"
          class="btn btn-outline-light btn-sm ml-2"
        >
          <i class="fa {{showImg ? 'fa-eye-slash' : 'fa-eye'}}"></i>
          {{showImg ? 'Ocultar' : 'Exibir'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredEvents.length > 0">
    <tr *ngFor="let ev of filteredEvents">
      <td>
        <img
          [collapse]="!showImg"
          [isAnimated]="true"
          src="/assets/{{ev.imageUri}}"
          alt="{{ev.theme}}"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        >
      </td>
      <td>{{ev.id}}</td>
      <td>{{ev.theme}}</td>
      <td>{{ev.place}}</td>
      <td>{{ev.eventDate | datetimeFormat}}</td>
      <td>{{ev.peopleQty}}</td>
      <td>{{ev.batches?.[0]?.name}}</td>
      <td>
        <button class="btn btn-primary btn-sm mr-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
        </button>
        <button
          class="btn btn-danger btn-sm"
          tooltip="Excluir"
          (click)="openModal(template)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="filteredEvents.length === 0">
    <tr>
      <td colspan="8" class="text-center text-danger">
        <h4>Nenhum evento encontrado...</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Você tem certeza que quer deletar este evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-danger" (click)="decline()" >Não</button>
  </div>
</ng-template>
